build*/
dist/
screen-fleet-pilot-client/build*/
screen-fleet-pilot-embedded/device-agent/build*/
screen-fleet-pilot-embedded_1/device-agent/build*/
screen-fleet-pilot-embedded_1/device-agent/bin/
screen-fleet-pilot-server/build*/
screen-fleet-pilot-server_1/build*/
screen-fleet-pilot-server_1/bin/
